<!DOCTYPE html>
<html>
<head>
	<title>Welcome page</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<form action="/users" method="post">
		Your name:<input type="text" name="name">
		Your quote:<textarea name="quote" placeholder="type here"></textarea>
		<input type="submit" value="Add my quote">
	</form>

	<form action="/result" method="get">
		<input type="submit" value="Skip to quote">
	</form>

	

</body>
</html>